<table class="ui celled table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Trend</th>
        <th>Comments</th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    #{list items:_assessments, as:'session'}
    <tr>
        #{if session.timestamp != null}
            <td>
            ${session.timestamp}
            </td>
        #{/if}
        #{elseif session.timestamp == null}
            <td>

            </td>
        #{/elseif}


        <td>
        ${session.weight}
        </td>
        <td>
        ${session.chest}
        </td>
        <td>
        ${session.thigh}
        </td>
        <td>
        ${session.upperArm}
        </td>
        <td>
        ${session.waist}
        </td>
        <td>
        ${session.hips}
        </td>
        #{if session_isLast}
            <td>

            </td>
        #{/if}
        #{elseif session_index < _assessments.size() && _assessments.get(session_index).weight > _assessments.get(session_index - 1).weight}
            <td>
                <i class="ui teal tag label"></i>
            </td>
        #{/elseif}
        #{elseif session_index < _assessments.size() && _assessments.get(session_index).weight < _assessments.get(session_index - 1).weight}
            <td>
                <i class="ui red tag label"></i>
            </td>
        #{/elseif}
        #{elseif session_index < _assessments.size() && _assessments.get(session_index).weight == _assessments.get(session_index - 1).weight}
            <td>
                <i class="ui grey tag label"></i>
            </td>
        #{/elseif}
        <td>
        ${session.comment}
        </td>
        <td>
            <a href="/dashboard/deleteAssessment/${session.id}" class="ui icon button">
                <i class="trash alternate icon"></i>
            </a>
        </td>


    </tr>
    #{/list}
    </tbody>
</table>