<!--
This is the menu displayed at the top of the page for logged in trainers.

They can navigate to the following pages:

Play Gym - Redirects trainer to sign up page
Dashboard - Redirects trainer to trainer dashboard
Logout - Logs trainer out. Login page rendered following logout.

jQuery script is used to mark the active item in the menu (dependent on what page the trainer is on).
-->

<nav class="ui menu">
    <header class="ui header item"><a href="/signup"> Play Gym Trainer</a></header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/trainerDashboard"> Dashboard </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>