<!--
This is the menu displayed at the top of the first page that users land at on the application.

They can navigate to the following pages:

Play Gym - Redirects user to sign up page
Signup- Redirects user to signup page (first page that is rendered on application load).
Login - Redirects user to login page.

jQuery script is used to mark the active item in the menu (dependent on what page the user is on).
-->

<nav class="ui menu">
    <header class="ui header item"><a href="/signup"> Play Gym </a></header>
    <div class="right menu">
        <a id="signup" class="item" href="/signup"> Signup </a>
        <a id="login" class="item" href="/login"> Login </a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>