#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">

    <div class="ui two column stackable center aligned grid">

        <div class="row">

            <div class="column" style="display: flex; justify-content: center; align-items: center;">
                <div>

                    <h1>
                        BMI Tracker
                    </h1>
                    <p class="ui large text">Fill in your assessments week by week and track your<br> BMI. Trainers will
                        comment on your progress
                        and<br> encourage you to keep going!</p>
                </div>

            </div>

            <div class="column">
                <div class="ui fluid image">
                    <img src="/public/images/seticon.png">
                </div>
            </div>
        </div>
    </div>


</section>